body {
  background-color: wheat;
  font-family: 'Consolas';
}

h2 {
  font-size: 170%;
  color:white;
}

h3 {
  color:white;
}

.generator {
  width: 450px;
  position: relative;
  padding-top: 150px;
  margin: 0 auto;
  margin-top: 20%;
  background: #FC445F;
  padding: 20px;
  border-radius: 20px;
}

.generator_header {
  text-align: center;
  margin-bottom: 20px;
}

.generator_password {
  position: relative;
  background:#812B3B;
  padding: 10px 10px;
  color: black;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.button_copy {
  position: absolute;
  background: wheat;
  color: #FC445F;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  top: 2px;
  right: 2px;
}

.button_password {
  font-family: 'Consolas';
  font-weight: bold;
  background: wheat;
  border: none;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  color: #FC445F;
  font-size: 17px;
  cursor: pointer;
}

button:active {
  transform: translate(2px, 2px);
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 15px;
}

input[type=number] {
  width: 10%;
}

input[type=number]::-webkit-inner-spin-button
{
  opacity: 1;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: px;
  background-color: white;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.footer{
  margin-top: 1rem;
  background-color: wheat;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}