.App {
  min-height: 100vh;
  background: #FFE780;
  font-family: 'Consolas';
}

.container {
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator {
  background: #FC445F;
  border-radius: 3px;
  padding: 20px;
  border-radius: 30px;
}

.generator_header {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.generator_password {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  padding: 13px 10px;
  color: #fff;
  height: 46px;
  margin-bottom: 15px;
}

.button_copy {
  position: absolute;
  background: #FED940;
  color: #FC445F;
  border: none;
  padding: 10px;
  cursor: pointer;
  top: 2px;
  right: 2px;
}

.button_password {
  font-family: 'Consolas';
  background: #FED940;
  border: none;
  border-radius: 30px;
  display: block;
  width: 100%;
  padding: 10px;
  color: #FC445F;
  font-size: 17px;
  cursor: pointer;
}

button:active {
  transform: translate(2px, 2px);
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}